<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.honeyguessrfirst">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".AboutBtn"
            android:exported="false" />
        <activity
            android:name=".TriviaforArts3"
            android:exported="false" />
        <activity
            android:name=".TriviaforArts2"
            android:exported="false" />
        <activity
            android:name=".TriviaforArts"
            android:exported="false" />
        <activity
            android:name=".Instructions"
            android:exported="false" />
        <activity
            android:name=".GeneralKnowledgeQ3"
            android:exported="false" />
        <activity
            android:name=".GeneralKnowledgeQ2"
            android:exported="false" />
        <activity
            android:name=".GeneralKnowledgeQ1"
            android:exported="false" />
        <activity
            android:name=".HistoryQ3"
            android:exported="false" />
        <activity
            android:name=".HistoryQ2"
            android:exported="false" />
        <activity
            android:name=".HistoryQ1"
            android:exported="false" />
        <activity
            android:name=".ArtsQ3"
            android:exported="false" />
        <activity
            android:name=".ArtsQ2"
            android:exported="false" />
        <activity
            android:name=".ArtsQ1"
            android:exported="false" />
        <activity
            android:name=".Categories"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>